# CarrierPress - Developed by M6VPN (M6VPN@tuta.com)
# carrierpress/.gitignore

*.a
*.o
build/
carrierpress
tests/test_agc
tests/test_dc_blocker
tests/test_limiter
tests/test_meter
tests/test_wav
tests/wav_input.wav
tests/wav_output.wav
